Lists all tables in the 'chicago_crime' dataset.

In [ ]:
tables = client.list_tables('chicago_crime')

Determines the number of tables available in the dataset.

In [ ]:
num_tables = len(tables)

Selects the reference of the first table for processing.

In [ ]:
table_ref = tables[0]  # Assuming we are working with the first table

Retrieves the schema information of the specified table.

In [ ]:
table = client.get_table(table_ref)

Counts the number of fields in the schema that are of type TIMESTAMP.

In [ ]:
num_timestamp_fields = sum(1 for field in table.schema if field.field_type == 'TIMESTAMP')

Extracts the first 5 rows from the table into a Pandas DataFrame.

In [ ]:
rows = client.list_rows(table, max_results=5).to_dataframe()

Extracts the latitude feature from the DataFrame.

In [ ]:
latitude = rows['latitude']

Extracts the longitude feature from the DataFrame.

In [ ]:
longitude = rows['longitude']