Load the dataset from a CSV file into a pandas DataFrame.

In [ ]:
import pandas as pd

data = pd.read_csv('petrol_data.csv')

Get an overview of the DataFrame including data types and non-null counts.

In [ ]:
data.info()

Generate descriptive statistics for numerical columns in the DataFrame.

In [ ]:
data.describe()

Filter the data to only include entries from the selected city.

In [ ]:
city_data = data[data['City'] == 'Selected City']

Reset the index of the filtered DataFrame.

In [ ]:
city_data.reset_index(drop=True, inplace=True)

Select relevant columns for further analysis.

In [ ]:
city_data = city_data[['Column1', 'Column2', ...]]

Fill missing values using forward fill method.

In [ ]:
city_data.fillna(method='ffill', inplace=True)

Visualize the data as a time series plot.

In [ ]:
import matplotlib.pyplot as plt

plt.plot(city_data['Date'], city_data['Value'])
plt.title('Time Series Visualization')
plt.show()

Setup an experiment using the TimeSeriesExperiment class.

In [ ]:
from ts_experiment import TimeSeriesExperiment

experiment = TimeSeriesExperiment(data=city_data)

Compare the performance of different models on the time series data.

In [ ]:
experiment.compare_models()