Importing the pandas library for data manipulation.

In [ ]:
import pandas as pd

Reading a CSV file into a DataFrame.

In [ ]:
df = pd.read_csv('data.csv')

Checking for NaN values in the DataFrame.

In [ ]:
print(df.isna().sum())

Checking the data types of each column.

In [ ]:
print(df.dtypes)

Changing the 'Date' column to datetime object.

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

Extracting year and month from the 'Date' column.

In [ ]:
df['Year'] = df['Date'].dt.year; df['Month'] = df['Date'].dt.month

Calculating average stock prices for each year.

In [ ]:
annual_prices = df.groupby('Year')['Close'].mean()

Comparing Open, High, Low, Close prices by year.

In [ ]:
yearly_comparison = df.groupby('Year')[['Open', 'High', 'Low', 'Close']].mean()

Comparing Open, High, Low, Close prices by month.

In [ ]:
monthly_comparison = df.groupby(['Year', 'Month'])[['Open', 'High', 'Low', 'Close']].mean()

Analyzing changes from open to close prices.

In [ ]:
df['Price Change'] = df['Close'] - df['Open']

Investigating stock changes specifically for the year 2020.

In [ ]:
changes_2020 = df[df['Year'] == 2020]

Calculating total volume changes by year.

In [ ]:
volume_changes = df.groupby('Year')['Volume'].sum()

Finding highest and lowest prices by year.

In [ ]:
highest_lowest = df.groupby('Year')['Close'].agg(['max', 'min'])