Setup the initial dataset for analysis.

In [ ]:
data = setup_data()

Convert a float column to an integer column.

In [ ]:
data['int_column'] = data['float_column'].astype(int)

Investigate unique float values in the dataset.

In [ ]:
float_values = data['float_column'].unique()

Check if the float conversion is accurate.

In [ ]:
assert check_float_conversion(float_values)

Perform boolean multiplication between two columns.

In [ ]:
data['boolean_multiplication'] = data['col1'] * data['col2']

Verify the results of the boolean multiplication.

In [ ]:
assert check_boolean_multiplication(data['boolean_multiplication'])

Estimate house costs based on available data.

In [ ]:
data['house_cost'] = estimate_house_cost(data)

Define a function for boolean addition.

In [ ]:
def boolean_addition(x, y): return x + y

Apply boolean addition to the specified columns.

In [ ]:
data['boolean_addition'] = boolean_addition(data['col1'], data['col2'])

Check the results of boolean addition.

In [ ]:
assert check_boolean_addition(data['boolean_addition'])

Retrieve the project cost data.

In [ ]:
cost_data = get_project_costs()

Run the cost calculation for the 'Gold' project.

In [ ]:
gold_cost = calculate_cost(cost_data, 'Gold')

Get the cost for 'Charlie' in 'Denver'.

In [ ]:
charlie_denver_cost = get_cost('Charlie', 'Denver')

Fetch the cost for the project on the specified date.

In [ ]:
cost_on_date = get_cost_on_date('08/10/2000')