Import the pandas library for data manipulation.

In [ ]:
import pandas as pd

Load the CSV file into a pandas DataFrame.

In [ ]:
df = pd.read_csv('path_to_file.csv')

Display the first few rows of the DataFrame.

In [ ]:
df.head()

Provide a statistical summary of the DataFrame.

In [ ]:
df.describe()

Display data types and non-null counts for each column.

In [ ]:
df.info()

Identify and count the number of null values in each column.

In [ ]:
df.isnull().sum()

Check and count the number of duplicate rows.

In [ ]:
df.duplicated().sum()

Remove rows with missing values from the DataFrame.

In [ ]:
df.dropna(inplace=True)