In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

RAPE CASES IN INDIA

RAPE CASES IN INDIA

In [ ]:
df=pd.read_csv('../input/crime-in-india/20_Victims_of_rape.csv')
df

In [ ]:
df=pd.read_csv('../input/crime-in-india/20_Victims_of_rape.csv')
df

In [ ]:
df.isna().sum()

In [ ]:
df.isna().sum()

In [ ]:
df.describe

In [ ]:
df.describe

In [ ]:
df.dtypes

In [ ]:
df.dtypes

In [ ]:
df.hist(figsize=(10,10),edgecolor="k")
plt.tight_layout()
plt.show()

In [ ]:
df.hist(figsize=(10,10),edgecolor="k")
plt.tight_layout()
plt.show()

Distribution of cases according to age

Distribution of cases according to age

In [ ]:
Victims_above_50 = df['Victims_Above_50_Yrs'].sum()
Victims_30_to_50 = df['Victims_Between_30-50_Yrs'].sum()
Victims_18_to_38 = df['Victims_Between_18-30_Yrs'].sum()
Victims_14_to_18 = df['Victims_Between_14-18_Yrs'].sum()
Victims_10_to_14 = df['Victims_Between_10-14_Yrs'].sum()
Victims_upto_10 = df['Victims_Upto_10_Yrs'].sum()

Age=['Victims_Above_50_Yrs','Victims_Between_30-50_Yrs','Victims_Between_18-30_Yrs','Victims_Between_14-18_Yrs','Victims_Between_10-14_Yrs',
      'Victims_Upto_10_Yrs']
SUM=[Victims_above_50,Victims_30_to_50,Victims_18_to_38,Victims_14_to_18,Victims_10_to_14,Victims_upto_10]

fig1, ax1 = plt.subplots(figsize=(8,8))
ax1.pie(SUM, labels=Age, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

In [ ]:
Victims_above_50 = df['Victims_Above_50_Yrs'].sum()
Victims_30_to_50 = df['Victims_Between_30-50_Yrs'].sum()
Victims_18_to_38 = df['Victims_Between_18-30_Yrs'].sum()
Victims_14_to_18 = df['Victims_Between_14-18_Yrs'].sum()
Victims_10_to_14 = df['Victims_Between_10-14_Yrs'].sum()
Victims_upto_10 = df['Victims_Upto_10_Yrs'].sum()

Age=['Victims_Above_50_Yrs','Victims_Between_30-50_Yrs','Victims_Between_18-30_Yrs','Victims_Between_14-18_Yrs','Victims_Between_10-14_Yrs',
      'Victims_Upto_10_Yrs']
SUM=[Victims_above_50,Victims_30_to_50,Victims_18_to_38,Victims_14_to_18,Victims_10_to_14,Victims_upto_10]

fig1, ax1 = plt.subplots(figsize=(8,8))
ax1.pie(SUM, labels=Age, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

Cases reported each year

Cases reported each year

In [ ]:
sns.barplot(x="Year", y="Rape_Cases_Reported", data=df)

In [ ]:
sns.barplot(x="Year", y="Rape_Cases_Reported", data=df)

Age group wise distribution of victims

Age group wise distribution of victims

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Above_50_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Above_50_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_30-50_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_30-50_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_18-30_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_18-30_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_14-18_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_14-18_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_10-14_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Between_10-14_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Upto_10_Yrs", data=df)
plt.figure(figsize=(8,8))

In [ ]:
sns.barplot(x="Subgroup", y="Victims_Upto_10_Yrs", data=df)
plt.figure(figsize=(8,8))

Total number of cases per Sub-category

Total number of cases per Sub-category

In [ ]:
pd.value_counts(df['Subgroup']).plot.bar()

In [ ]:
pd.value_counts(df['Subgroup']).plot.bar()

Victims of incest rape

Victims of incest rape

In [ ]:
ab=df[df['Subgroup']=='Victims of Incest Rape']
bc=df[df['Subgroup']=='Victims of Other Rape']

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])

Victims_above_50 = ab['Victims_Above_50_Yrs'].sum()
Victims_30_to_50 = ab['Victims_Between_30-50_Yrs'].sum()
Victims_18_to_38 = ab['Victims_Between_18-30_Yrs'].sum()
Victims_14_to_18 = ab['Victims_Between_14-18_Yrs'].sum()
Victims_10_to_14 = ab['Victims_Between_10-14_Yrs'].sum()
Victims_upto_10 = ab['Victims_Upto_10_Yrs'].sum()

Range=['Above_50','30-50','18-30','14-18','10-14','Upto_10']
Total=[Victims_above_50,Victims_30_to_50,Victims_18_to_38,Victims_14_to_18,Victims_10_to_14,Victims_upto_10]

ax.bar(Range,Total)
plt.show()

In [ ]:
ab=df[df['Subgroup']=='Victims of Incest Rape']
bc=df[df['Subgroup']=='Victims of Other Rape']

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])

Victims_above_50 = ab['Victims_Above_50_Yrs'].sum()
Victims_30_to_50 = ab['Victims_Between_30-50_Yrs'].sum()
Victims_18_to_38 = ab['Victims_Between_18-30_Yrs'].sum()
Victims_14_to_18 = ab['Victims_Between_14-18_Yrs'].sum()
Victims_10_to_14 = ab['Victims_Between_10-14_Yrs'].sum()
Victims_upto_10 = ab['Victims_Upto_10_Yrs'].sum()

Range=['Above_50','30-50','18-30','14-18','10-14','Upto_10']
Total=[Victims_above_50,Victims_30_to_50,Victims_18_to_38,Victims_14_to_18,Victims_10_to_14,Victims_upto_10]

ax.bar(Range,Total)
plt.show()

Victims of other rape

Victims of other rape

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])

Victims_above_50 = bc['Victims_Above_50_Yrs'].sum()
Victims_30_to_50 = bc['Victims_Between_30-50_Yrs'].sum()
Victims_18_to_38 = bc['Victims_Between_18-30_Yrs'].sum()
Victims_14_to_18 = bc['Victims_Between_14-18_Yrs'].sum()
Victims_10_to_14 = bc['Victims_Between_10-14_Yrs'].sum()
Victims_upto_10 = bc['Victims_Upto_10_Yrs'].sum()

Range=['Above_50','30-50','18-30','14-18','10-14','Upto_10']
Total=[Victims_above_50,Victims_30_to_50,Victims_18_to_38,Victims_14_to_18,Victims_10_to_14,Victims_upto_10]

ax.bar(Range,Total)
plt.show()

In [ ]:
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])

Victims_above_50 = bc['Victims_Above_50_Yrs'].sum()
Victims_30_to_50 = bc['Victims_Between_30-50_Yrs'].sum()
Victims_18_to_38 = bc['Victims_Between_18-30_Yrs'].sum()
Victims_14_to_18 = bc['Victims_Between_14-18_Yrs'].sum()
Victims_10_to_14 = bc['Victims_Between_10-14_Yrs'].sum()
Victims_upto_10 = bc['Victims_Upto_10_Yrs'].sum()

Range=['Above_50','30-50','18-30','14-18','10-14','Upto_10']
Total=[Victims_above_50,Victims_30_to_50,Victims_18_to_38,Victims_14_to_18,Victims_10_to_14,Victims_upto_10]

ax.bar(Range,Total)
plt.show()

AUTO THEFT CASES IN INDIA

![image.png](attachment:image.png)

In India, out of 100 vehicles insured, claims are filed for 35-40. Generally, less than 2% of insured cars are stolen. Claim payouts for motor insurance add up to approximately Rs 35,000 crore with about Rs 1,000 crore accounted for by stolen vehicles every year, executives said.

AUTO THEFT CASES IN INDIA

![image.png](attachment:image.png)

In India, out of 100 vehicles insured, claims are filed for 35-40. Generally, less than 2% of insured cars are stolen. Claim payouts for motor insurance add up to approximately Rs 35,000 crore with about Rs 1,000 crore accounted for by stolen vehicles every year, executives said.

In [ ]:
df1=pd.read_csv('../input/crime-in-india/30_Auto_theft.csv')
df1.head()

In [ ]:
df1=pd.read_csv('../input/crime-in-india/30_Auto_theft.csv')
df1.head()

In [ ]:
df1.isna().sum()

In [ ]:
df1.isna().sum()

In [ ]:
df1['Auto_Theft_Coordinated/Traced'].fillna((df1['Auto_Theft_Coordinated/Traced'].mean()), inplace=True)
df1['Auto_Theft_Recovered'].fillna((df1['Auto_Theft_Recovered'].mean()),inplace=True)

In [ ]:
df1['Auto_Theft_Coordinated/Traced'].fillna((df1['Auto_Theft_Coordinated/Traced'].mean()), inplace=True)
df1['Auto_Theft_Recovered'].fillna((df1['Auto_Theft_Recovered'].mean()),inplace=True)

In [ ]:
df1.describe()

In [ ]:
df1.describe()

In [ ]:
df1.hist(figsize=(10,10),edgecolor="k")
plt.tight_layout()
plt.show()

In [ ]:
df1.hist(figsize=(10,10),edgecolor="k")
plt.tight_layout()
plt.show()

Actions taken on stolen automobiles

Actions taken on stolen automobiles

In [ ]:
import pandas as pd

new = df1[['Auto_Theft_Stolen', 'Auto_Theft_Recovered', 'Auto_Theft_Coordinated/Traced']].copy()

stolen_df = new['Auto_Theft_Stolen'].sum()
theft_df = new['Auto_Theft_Recovered'].sum()
traced_df = new['Auto_Theft_Coordinated/Traced'].sum()

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])


total = [stolen_df,theft_df,traced_df]
columns = ['Stolen','Recovered','Traced']

ax.bar(columns,total)
plt.show()

In [ ]:
import pandas as pd

new = df1[['Auto_Theft_Stolen', 'Auto_Theft_Recovered', 'Auto_Theft_Coordinated/Traced']].copy()

stolen_df = new['Auto_Theft_Stolen'].sum()
theft_df = new['Auto_Theft_Recovered'].sum()
traced_df = new['Auto_Theft_Coordinated/Traced'].sum()

fig = plt.figure()
ax = fig.add_axes([0,0,1,1])


total = [stolen_df,theft_df,traced_df]
columns = ['Stolen','Recovered','Traced']

ax.bar(columns,total)
plt.show()

In [ ]:
fig1, ax1 = plt.subplots()
ax1.pie(total, labels=columns, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

In [ ]:
fig1, ax1 = plt.subplots()
ax1.pie(total, labels=columns, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

plt.show()

Stolen automobiles recorded each year

Stolen automobiles recorded each year

In [ ]:
sns.barplot(x="Year", y="Auto_Theft_Stolen", data=df1)

In [ ]:
sns.barplot(x="Year", y="Auto_Theft_Stolen", data=df1)

Stolen automobiles traced each year

Stolen automobiles traced each year

In [ ]:
sns.barplot(x="Year", y="Auto_Theft_Coordinated/Traced", data=df1)

In [ ]:
sns.barplot(x="Year", y="Auto_Theft_Coordinated/Traced", data=df1)

Stolen automobiles recovered each year

Stolen automobiles recovered each year

In [ ]:
sns.barplot(x="Year", y="Auto_Theft_Recovered", data=df1)

In [ ]:
sns.barplot(x="Year", y="Auto_Theft_Recovered", data=df1)