### - Importing the necessary Python libraries -

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns 
import numpy as np
import pandas as pd
import numpy as np

# sns.color_palette("light:b", as_cmap=True)
sns.set_style("darkgrid", {"axes.facecolor": ".9"})

#from PIL import Image
#from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

### - Importing data files -

In [ ]:
deg = pd.read_csv('../input/college-salaries/degrees-that-pay-back.csv')
sal_col = pd.read_csv('../input/college-salaries/salaries-by-college-type.csv')
sal_reg = pd.read_csv('../input/college-salaries/salaries-by-region.csv')
dataset_list = [deg, sal_col, sal_reg]

### - Looking at the data -

In [ ]:
deg.head(5)

In [ ]:
sal_col.head(5)

In [ ]:
sal_reg.head(5)

### - Finding out salary variable type -

In [ ]:
type(deg['Starting Median Salary'][1])

### - Fixing the salary variable type -

In [ ]:
selected_col = ['Starting Median Salary','Mid-Career Median Salary','Mid-Career 10th Percentile Salary','Mid-Career 25th Percentile Salary','Mid-Career 75th Percentile Salary','Mid-Career 90th Percentile Salary']

for dataset in dataset_list:
    for col in selected_col:
        dataset[col] = dataset[col].str.replace("$","")
        dataset[col] = dataset[col].str.replace(",","")
        dataset[col] = pd.to_numeric(dataset[col])
sal_col.head()

### - Getting a general idea  -

In [ ]:
deg.describe()

What we can see from this table is that the minimum starting salary is $34,000 and the maximum - slightly more than $74,000. The average person starts with $41,000 and by mid-career earns $72,000 with a 68% change.
Of course, there are significant differences between the top-performing individuals and not with on average $106,000 of difference.

What we can see from this table is that the minimum starting salary is $34,000 and the maximum - slightly more than $74,000. The average person starts with $41,000 and by mid-career earns $72,000 with a 68% change.
Of course, there are significant differences between the top-performing individuals and not with on average $106,000 of difference.

### - Starting median salary by undergraduate major  -

In [ ]:
# sns.color_palette("light:b", as_cmap=True)
# sns.set_style("darkgrid", {"axes.facecolor": ".9"})

In [ ]:
# sns.color_palette?

Palete

https://seaborn.pydata.org/tutorial/color_palettes.html

In [ ]:

deg = deg.sort_values("Starting Median Salary", ascending=False).reset_index(drop=True)
f, ax = plt.subplots(figsize=(10, 15)) 
ax.set_yticklabels(deg['Undergraduate Major'], rotation='horizontal', fontsize='medium')
figure1 = sns.barplot(y = 'Undergraduate Major', x= 'Starting Median Salary', data=deg, palette="cubehelix")
plt.show()

In [ ]:
deg.head()

In [ ]:
deg['Undergraduate Major'].unique()

In [ ]:
deg_2 = deg[deg['Undergraduate Major'].isin(['Physician Assistant', 'Chemical Engineering', 'Computer Engineering', 'Electrical Engineering'])].reset_index(drop=True)
deg_2.head()

In [ ]:
# pd.pivot(data=deg_2, columns=['Undergraduate Major', 'Salary'], values=[])

In [ ]:
data = list()

for idx in deg_2.index:
    
    single_row = deg_2.loc[idx][['Undergraduate Major', 'Starting Median Salary', 'Mid-Career Median Salary']].values.tolist()
    print(single_row)

    single_row_reformated_1 = [single_row[0], single_row[1], 'Starting']
    single_row_reformated_2 = [single_row[0], single_row[2], 'Median']
    
    print(single_row_reformated_1)
    print(single_row_reformated_2)
    print("-----")

    data.append(single_row_reformated_1)
    data.append(single_row_reformated_2)
    data += [deg_2.loc[idx][['Undergraduate Major', 'Starting Median Salary', 'Mid-Career Median Salary']].values.tolist()]
    print(idx, data)

df_mod = pd.DataFrame(data, columns=['Undergraduate Major', 'Salary', 'Type'])
df_mod

In [ ]:
f, ax = plt.subplots(figsize=(16, 7)) 
sns.barplot(x='Undergraduate Major', y='Salary', hue='Type', data=df_mod, palette="vlag", ax=ax)

### paprastas machine learnign

In [ ]:
deg.head()

In [ ]:
deg[['Starting Median Salary', 'Mid-Career Median Salary']].corr()

In [ ]:
f, ax = plt.subplots(figsize=(18, 6)) 


ax.scatter(deg['Starting Median Salary'], deg['Mid-Career Median Salary'])

ax.set_xlabel("start salary")
ax.set_ylabel("mid salary")

In [ ]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [ ]:
X = deg['Starting Median Salary'].copy()
y = deg['Mid-Career Median Salary'].copy()

In [ ]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [ ]:

# geresnis kintamujju pavadinimas
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state=1)

In [ ]:
X.shape

In [ ]:
train_X.shape

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model_lg = LinearRegression()
model_lg.fit(train_X.values.reshape(-1, 1), train_y)

In [ ]:
pred_y_lg = model_lg.predict(test_X.values.reshape(-1, 1))

In [ ]:
df_model_res = pd.DataFrame(np.array([test_y, pred_y_lg]).T, columns=['test', 'pred_lg'])

df_model_res.head()

In [ ]:
mean_absolute_error(test_y, pred_y_lg)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
model_dt = DecisionTreeRegressor()
model_dt.fit(train_X.values.reshape(-1, 1), train_y)

In [ ]:
pred_y_dt = model_dt.predict(test_X.values.reshape(-1, 1))

In [ ]:
df_model_res['pred_dt'] = pred_y_dt
df_model_res.head()

In [ ]:
# pd.DataFrame(np.array([test_y, pred_y]).T, columns=['test', 'pred'])

In [ ]:
mean_absolute_error(test_y, pred_y)

In [ ]:
nan

In [ ]:
deg_2.head()

In [ ]:
f, ax = plt.subplots(figsize=(16, 8)) 
sns.catplot(x='Undergraduate Major', y = 'Mid-Career Median Salary', data=deg_2, ax=ax)

In [ ]:
f, ax = plt.subplots(figsize=(16, 8)) 
sns.scatterplot(x= 'Starting Median Salary', y = 'Mid-Career Median Salary', hue='Undergraduate Major', data=deg_2, ax=ax)
ax.plot([62000, 106000], [62000, 106000])

In [ ]:
g = sns.catplot(
    data=penguins, kind="bar",
    x="species", y="body_mass_g", hue="sex",
    ci="sd", palette="dark", alpha=.6, height=6

In [ ]:
deg_2.describe()

In [ ]:
x = deg['Starting Median Salary']
y = len(deg.index) - deg.index

In [ ]:
y

In [ ]:
y

In [ ]:
fig = plt.figure(figsize=(10,15))

x = deg['Starting Median Salary']
y = len(deg.index) - deg.index
labels = deg['Undergraduate Major']

plt.scatter(x, y, color='#673888', label = 'Starting Median Salary')
plt.yticks(y, labels)

x3 = deg['Mid-Career Median Salary']
plt.scatter(x3, y, color='#363b74', label = 'Mid-Career Median Salary')

plt.xlabel('Salary')
plt.ylabel('')
plt.show()

### - Disciplines with the fastest growing salary throughout the career  -

In [ ]:
salary_change = deg.sort_values('Percent change from Starting to Mid-Career Salary', ascending=False).head(10)
f, ax = plt.subplots(figsize=(10, 5)) 
ax.set_xticklabels(salary_change['Undergraduate Major'], rotation='vertical', fontsize='medium')
figure2 = sns.barplot(x = salary_change['Undergraduate Major'], y= salary_change['Percent change from Starting to Mid-Career Salary'])
plt.show()

Whereas engineering disciplines lead in the starting salary, philosophy and math have the biggest jump from the starting to mid-career salaries, followed by international relations, economics and marketing.

### - Which regions offer highest salaries  -

In [ ]:
region_figure = sal_reg[['Starting Median Salary','Mid-Career Median Salary','Mid-Career 75th Percentile Salary','Region']]
var = region_figure.groupby('Region').mean()
var.plot(kind='line', figsize=(10, 5));

It is evident that California and Northeastern Region offer higher salaries than other regions in US. Interestingly, it is clearly visible that the median salary growth from the starting to the 75th percentile salary is consistent throughout all the regions (those who start off higher, finish higher).

### - Salary growth by school type -

In [ ]:
sal_col

In [ ]:
uni_group = sal_col.groupby("School Type").mean().sort_values(by="Starting Median Salary",ascending=False)
uni_group = uni_group.transpose()
uni_group.index

In [ ]:
f,ax = plt.subplots(figsize=(15,7))
uni_group.plot(ax=ax)
ax.set_ylabel("Salary")
ax.set_xlabel("Career")

box plot: https://www.statology.org/box-plot-google-sheets/

In [ ]:
uni_group = sal_col.groupby("School Type").mean().sort_values(by="Starting Median Salary",ascending=False)
uni_group = uni_group.transpose()
f,ax = plt.subplots(figsize=(15,7))
uni_group.plot(ax=ax)
ax.set_ylabel("Salary")
ax.set_xlabel("Career")

When it comes to school type, Ivy League is clearly leading with highest salaries throughout the career, with an exception at the 10th Percentile. Engineering is second, even though Liberal Arts surpasses it when it comes to 90th Percentile. Party and State universities have significantly smaller salaries throughout.