In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")
%matplotlib inline

## Global beer consumption (1961-2016)

1.Palyginti alaus suvartojima vienam asmeniui Baltijos salyse ir Skandinavijoje

In [ ]:
df = pd.read_csv('../input/failas/beer-consumption-per-person.csv')
df.head()

*Cia pakeisiu stulpelio pavadinima, nes yra labai ilgas

In [ ]:
# df_r = df.rename(columns={'Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Beer': 'Consumption'})
df = df.rename(columns={'Indicator:Alcohol, recorded per capita (15+) consumption (in litres of pure alcohol) - Beverage Types:Beer': 'Consumption'})
df.head()

*Padarau duomenu kopija ir paliksiu tik tris stulpelius

In [ ]:
df_r_copy=df_r.copy().loc[:, ['Entity','Year','Consumption']]

*Noriu isrinkti tik Lietuvos duomenis

In [ ]:
df_LT = df_r_copy.loc[df_r_copy.Entity.isin(['Lithuania'])]
df_LT.head()

In [ ]:
fig, ax = plt.subplots(1,1, figsize =(12, 6))
x = df_LT.Year
y = df_LT.Consumption
ax.plot(x, y, color = 'r')

*Sukuriau Baltijos saliu alaus vartojimo vidurkiu duomenis

In [ ]:
df.head()

In [ ]:
nan

In [ ]:
df_baltics = df[df.Entity.isin(['Lithuania', 'Latvia', 'Estonia'])].reset_index(drop=True)
df_baltics.head()

In [ ]:
df_baltics_g = df_baltics.groupby(['Year'])['Consumption'].mean().reset_index()
df_baltics_g['Region'] = 'baltics'
df_baltics_g.head()

In [ ]:
df_nordic= df[df.Entity.isin(['Norway', 'Denmark', 'Sweden'])].reset_index(drop=True)
df_nordic.head()

In [ ]:
df_baltics_g.tail()

In [ ]:
df_nordic_g = df_nordic.groupby(['Year'])['Consumption'].mean().reset_index()
df_nordic_g['Region'] = 'nordics'
df_nordic_g.tail()

In [ ]:
df_region = pd.concat([df_nordic_g, df_baltics_g]).reset_index(drop=True)
df_region.head()

In [ ]:
fig, ax = plt.subplots(figsize=(10, 6))
sns.lineplot(x='Year',y='Consumption',hue='Region',data=df_region, ax=ax)

In [ ]:
df.head()

In [ ]:
# 70-tie

df_70 = df[(df.Year>=1970) & (df.Year<=1979)].copy()
df_80 = df[(df.Year>=1980) & (df.Year<=1989)].copy()

In [ ]:
df_70.groupby('Entity')['Consumption'].mean().sort_values(ascending=False).head()

In [ ]:
df_80.groupby('Entity')['Consumption'].mean().sort_values(ascending=False).head()

In [ ]:
df_80

In [ ]:
nan

In [ ]:
fig, ax = plt.subplots(figsize=(10, 6))
sns.lineplot(x='Year',y='Consumption',hue='Entity',data=df_Baltics_2, ax=ax)

In [ ]:
df_nordic= df[df.Entity.isin(['Norway', 'Denmark', 'Sweden'])].reset_index(drop=True)
df_nordic.head()

In [ ]:
fig, ax = plt.subplots(figsize=(10, 6))
sns.lineplot(x='Year',y='Consumption',hue='Entity',data=df_nordic, ax=ax)

In [ ]:
df_Baltics_2

In [ ]:
fig, ax = plt.subplots(figsize=(10, 6))
sns.lineplot(x='Year',y='Value',hue='Country',data=death_rate,ax=ax)
plt.title("Death rate, crude (per 1,000 people)")
plt.ylabel('Death rate, crude (per 1,000 people)')
plt.xticks(rotation=45)
plt.ylim(bottom=0,top=40)
plt.legend(loc=0,ncol=2,framealpha=0.5,borderpad=0.2)

In [ ]:
df_Baltics = df_r_copy.loc[df_r_copy.Entity.isin(['Lithuania', 'Latvia', 'Estonia'])]
Baltics_avg=df_Baltics.loc[:, ['Entity','Consumption']]

Baltics_group = Baltics_avg.groupby('Entity').mean()
Baltics_group.head()

In [ ]:
nan

*Sukuriau Skandinavu valstiju alaus vartojimo vidurkiu duomenis

In [ ]:
df_Nordics = df_r_copy.loc[df_r_copy.Entity.isin(['Norway', 'Denmark', 'Sweden'])]
Nordics_avg=df_Nordics.loc[:, ['Entity','Consumption']]

Nordics_group = Nordics_avg.groupby('Entity').mean()
Nordics_group.head()

In [ ]:
nan