In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sb
sb.set_style('whitegrid')
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
data = pd.read_csv('../input/women-entrepreneurship-and-labor-force/Dataset3.csv', delimiter=';', encoding = "ISO-8859-1")

In [ ]:
data

In [ ]:
data.drop('No',1,inplace=True)

# **Looking out for Null Values**

In [ ]:
data.isnull().sum()

Data is clean.

In [ ]:
data.dtypes

In [ ]:
from sklearn.preprocessing import LabelEncoder,LabelBinarizer
le = LabelEncoder()
lb = LabelBinarizer()
data['Country'].unique()
country = {'Austria':1, 'Belgium':2, 'Estonia':3, 'Finland':4, 'France':5, 'Germany':6,
       'Greece':7, 'Ireland':8, 'Italy':9, 'Latvia':10, 'Lithuania':11, 'Netherlands':12,
       'Slovakia':13, 'Slovenia':14, 'Spain':15, 'Croatia':16, 'Denmark':17, 'Hungary':18,
       'Poland':19, 'Sweden':20, 'Australia':21, 'Iceland':22, 'Japan':23, 'Norway':24,
       'Singapore':25, 'Switzerland':26, 'Taiwan':27, 'Algeria':28, 'Argentina':29,
       'Bolivia':30, 'Bosnia and Herzegovina':31, 'Brazil':32, 'China':33,
       'Costa Rica':34, 'Ecuador':35, 'Egypt':36, 'El Salvador':37, 'Ghana':38, 'India':39,
       'Jamaica':40, 'Macedonia':41, 'Malaysia':42, 'Mexico':43, 'Panama':44, 'Peru':45,
       'Russia':46, 'Saudi Arabia':47, 'Thailand':48, 'Tunisia':49, 'Turkey':50,
       'Uruguay':51}
data['country'] = data['Country'].map(country)
data['European Union Membership'] = lb.fit_transform(data['European Union Membership'])
data['Currency'] = lb.fit_transform(data['Currency'])
data['Level of development'] = le.fit_transform(data['Level of development'])

In [ ]:
data

# **Data Analysis**

In [ ]:
data.describe()

In [ ]:
plt.figure(figsize = (25,10))
sb.heatmap(data.corr(),annot=True,cmap = 'twilight_shifted')

* Women Entrepreneurship Index,Entrepreneurship Index have a positive co-relation with Participation Rate
* Female Labor Force Participation Rate has a strong negetive corelation with participation rate

**Female Labour Force Participation Rate by Countries**

In [ ]:
plt.figure(figsize = (25,15))
sb.barplot(x= data['country'],y = data['Female Labor Force Participation Rate']);
plt.yticks([5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85]);
        #'Austria':1, 'Belgium':2, 'Estonia':3, 'Finland':4, 'France':5, 'Germany':6,
       #'Greece':7, 'Ireland':8, 'Italy':9, 'Latvia':10, 'Lithuania':11, 'Netherlands':12,
       #'Slovakia':13, 'Slovenia':14, 'Spain':15, 'Croatia':16, 'Denmark':17, 'Hungary':18,
       #'Poland':19, 'Sweden':20, 'Australia':21, 'Iceland':22, 'Japan':23, 'Norway':24,
       #'Singapore':25, 'Switzerland':26, 'Taiwan':27, 'Algeria':28, 'Argentina':29,
       #'Bolivia':30, 'Bosnia and Herzegovina':31, 'Brazil':32, 'China':33,
       #'Costa Rica':34, 'Ecuador':35, 'Egypt':36, 'El Salvador':37, 'Ghana':38, 'India':39,
       #'Jamaica':40, 'Macedonia':41, 'Malaysia':42, 'Mexico':43, 'Panama':44, 'Peru':45,
       #'Russia':46, 'Saudi Arabia':47, 'Thailand':48, 'Tunisia':49, 'Turkey':50,
       #'Uruguay':51#

* Iceland tops the list of Participation Rate followed by Switzerland ,Sweden,Macedona and Germany
* Saudi Arabia and Algeria have the Least Participation Rate for Females

Level of Development and Female Employement Rate

In [ ]:
plt.figure(figsize = (25,10))
plt.hist(data['Level of development']);
plt.xticks(ticks = [0,1],labels = ['Developed','Developing']);

**More than 25 out of 51 countries in the list are developed nations**

In [ ]:
plt.figure(figsize = (25,10))
sb.regplot(x = data['Level of development'],y=data['Female Labor Force Participation Rate'])

**The Rate of Female Labor Force Participation Rate in developed countries is more**

**Woman Entrepreneurship Index by country**

In [ ]:
plt.figure(figsize = (25,10))
sb.barplot(x= data['country'],y = data['Women Entrepreneurship Index']);
plt.yticks([5,10,15,20,25,30,35,40,45,50,55,60,65,70,75]);
        #'Austria':1, 'Belgium':2, 'Estonia':3, 'Finland':4, 'France':5, 'Germany':6,
       #'Greece':7, 'Ireland':8, 'Italy':9, 'Latvia':10, 'Lithuania':11, 'Netherlands':12,
       #'Slovakia':13, 'Slovenia':14, 'Spain':15, 'Croatia':16, 'Denmark':17, 'Hungary':18,
       #'Poland':19, 'Sweden':20, 'Australia':21, 'Iceland':22, 'Japan':23, 'Norway':24,
       #'Singapore':25, 'Switzerland':26, 'Taiwan':27, 'Algeria':28, 'Argentina':29,
       #'Bolivia':30, 'Bosnia and Herzegovina':31, 'Brazil':32, 'China':33,
       #'Costa Rica':34, 'Ecuador':35, 'Egypt':36, 'El Salvador':37, 'Ghana':38, 'India':39,
       #'Jamaica':40, 'Macedonia':41, 'Malaysia':42, 'Mexico':43, 'Panama':44, 'Peru':45,
       #'Russia':46, 'Saudi Arabia':47, 'Thailand':48, 'Tunisia':49, 'Turkey':50,
       #'Uruguay':51#
plt.title('Women Entrepreneurship Index by Country');

* Women Entrepreneurship Index is maximum in Iceland followed by Denmark,Lithuania
* Women Entrepreneurship Index is mimimum in India,Ghana

Women Entrepreneurship Index and Female Labor Force Participation Rate

In [ ]:
plt.figure(figsize = (25,10))
sb.lineplot(x = data['Women Entrepreneurship Index'],y = data['Female Labor Force Participation Rate'],color = 'darkviolet')

In [ ]:
plt.figure(figsize = (25,10))
sb.residplot(x = data['Women Entrepreneurship Index'],y = data['Female Labor Force Participation Rate'],color = 'darkviolet')

In [ ]:
plt.figure(figsize = (25,10))
sb.regplot(x = data['Women Entrepreneurship Index'],y = data['Female Labor Force Participation Rate'],color = 'darkviolet')

**As Women Entrepreneurship Index increases Female Labor Force Participation Rate increases**

**Entrepreneurship Index**

In [ ]:
plt.figure(figsize = (25,10))
sb.barplot(x= data['country'],y = data['Entrepreneurship Index']);
plt.yticks([5,10,15,20,25,30,35,40,45,50,55,60,65,70,75]);
        #'Austria':1, 'Belgium':2, 'Estonia':3, 'Finland':4, 'France':5, 'Germany':6,
       #'Greece':7, 'Ireland':8, 'Italy':9, 'Latvia':10, 'Lithuania':11, 'Netherlands':12,
       #'Slovakia':13, 'Slovenia':14, 'Spain':15, 'Croatia':16, 'Denmark':17, 'Hungary':18,
       #'Poland':19, 'Sweden':20, 'Australia':21, 'Iceland':22, 'Japan':23, 'Norway':24,
       #'Singapore':25, 'Switzerland':26, 'Taiwan':27, 'Algeria':28, 'Argentina':29,
       #'Bolivia':30, 'Bosnia and Herzegovina':31, 'Brazil':32, 'China':33,
       #'Costa Rica':34, 'Ecuador':35, 'Egypt':36, 'El Salvador':37, 'Ghana':38, 'India':39,
       #'Jamaica':40, 'Macedonia':41, 'Malaysia':42, 'Mexico':43, 'Panama':44, 'Peru':45,
       #'Russia':46, 'Saudi Arabia':47, 'Thailand':48, 'Tunisia':49, 'Turkey':50,
       #'Uruguay':51#
plt.title('Entrepreneurship Index by Country');

* Australia has the highest Entrepreneurship Index followed by Sweden

In [ ]:
plt.figure(figsize = (25,10))
sb.lineplot(x = data['Entrepreneurship Index'],y = data['Women Entrepreneurship Index'],color = 'darkviolet')

In [ ]:
plt.figure(figsize = (25,10))
sb.regplot(x = data['Entrepreneurship Index'],y = data['Women Entrepreneurship Index'],color = 'darkviolet')

As Entrepreneurship Index increases Women Entrepreneurship Index increases

In [ ]:
plt.figure(figsize = (25,10))
sb.lineplot(x = data['Entrepreneurship Index'],y = data['Female Labor Force Participation Rate'],color = 'darkviolet')

In [ ]:
plt.figure(figsize = (25,10))
sb.regplot(x = data['Entrepreneurship Index'],y = data['Female Labor Force Participation Rate'],color = 'darkviolet')

As Entrepreneurship Index increases Female Participation rate also increases

**Inflation Rate**

In [ ]:
plt.figure(figsize = (25,10))
sb.barplot(x= data['country'],y = data['Inflation rate']);

        #'Austria':1, 'Belgium':2, 'Estonia':3, 'Finland':4, 'France':5, 'Germany':6,
       #'Greece':7, 'Ireland':8, 'Italy':9, 'Latvia':10, 'Lithuania':11, 'Netherlands':12,
       #'Slovakia':13, 'Slovenia':14, 'Spain':15, 'Croatia':16, 'Denmark':17, 'Hungary':18,
       #'Poland':19, 'Sweden':20, 'Australia':21, 'Iceland':22, 'Japan':23, 'Norway':24,
       #'Singapore':25, 'Switzerland':26, 'Taiwan':27, 'Algeria':28, 'Argentina':29,
       #'Bolivia':30, 'Bosnia and Herzegovina':31, 'Brazil':32, 'China':33,
       #'Costa Rica':34, 'Ecuador':35, 'Egypt':36, 'El Salvador':37, 'Ghana':38, 'India':39,
       #'Jamaica':40, 'Macedonia':41, 'Malaysia':42, 'Mexico':43, 'Panama':44, 'Peru':45,
       #'Russia':46, 'Saudi Arabia':47, 'Thailand':48, 'Tunisia':49, 'Turkey':50,
       #'Uruguay':51#
plt.title('Inflation rate by Country');

Among the given countries 
* Argentina has the highest inflation rate
* El Salvador has the lowest inflation rate

In [ ]:
plt.figure(figsize=(25,10))
sb.regplot(data['Inflation rate'],data['Level of development'])

* Inflation Rate is generally higher in developing countries

In [ ]:
plt.figure(figsize = (25,10))
sb.regplot(x = data['Inflation rate'],y = data['Female Labor Force Participation Rate'],color = 'darkviolet')

**With increase in inflation rate Female Labor Force participation rate tends to decrease**

In [ ]:
nan