In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

There is a single dataset available in the file

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('../input/women-representation-in-city-property-sanfrancisco/WomenRepresentaionInCityProperty-SanFrancisco.csv')
#importing the dataset as a csv file into Dataframe

In [ ]:
df.head()#displaying the top 5 records of the dataframe

### Information about the dataset

In [ ]:
df.info()

### Checking For missing values

In [ ]:
df.isnull().sum()

The columns Reference and Comments have 28 and 50 missing values respectively, while the column Person has only 1 missing value

In [ ]:
df['Gender'].unique()

The columns have either a single gender for a single entry in the dataset or there are two genders for a single entry of the dataset.

In [ ]:
df_FM = df[df['Gender']=='F & M']
df_MF = df[df['Gender']=='M & F']
df_MM = df[df['Gender']=='M & M']

Creating three dataframe for entries consisting of male and female names and male and male names.

[](http://)The F & M, M & F category denotes the entry consisting of male and female names, while the M & M category denotes the entry consisting of only male names.

### Visualisation of distribution of gender column

In [ ]:
df.groupby('Gender')['Gender'].agg('count').plot.pie(figsize=(8,8),autopct='%1.1f')

Finding the number of individual males and females in the dataset

In [ ]:
male=[]
for i in range(len(df)):
    if df['Gender'][i] in ['M','M & F','F & M','M & M']:
        male.append(1)
    else:
        male.append(0)

In [ ]:
female=[]
for i in range(len(df)):
    if df['Gender'][i] in ['F','M & F','F & M']:
        female.append(1)
    else:
        female.append(0)

In [ ]:
df['Male'] = male
df['Female'] = female

In [ ]:
print(df['Male'].sum())
print(df['Female'].sum())

### Visualisation of Count of Male and Female

In [ ]:
msum = df['Male'].sum()
fsum = df['Female'].sum()
plt.title('Count of Male and Females')
plt.bar(['Male','Female'],[msum,fsum])

### Count of Male and Female in each Department

In [ ]:
df_department = df.groupby('Department/Source').agg({'Male': 'sum', 'Female': 'sum'})
df_department['Total'] = df_department['Male']+df_department['Female']
df_department

In [ ]:
nan