In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
df=pd.read_csv("/kaggle/input/groceries-dataset/Groceries_dataset.csv")

In [ ]:
df.head()

In [ ]:
#types of items the data has

items= df.itemDescription.unique()
print("Total types of items=")
len(items)

In [ ]:
print("Some item types are=")
items[0:10]

In [ ]:
#converting into systematic data

df_grouped=df.groupby(['Member_number','Date'])['itemDescription'].unique()

In [ ]:
df_grouped

In [ ]:
df_grouped_df= pd.DataFrame(df_grouped)

In [ ]:
df_grouped_df.head(10)

In [ ]:
nan

In [ ]:
print("Number of unique customers=")
len(df["Member_number"].unique())

In [ ]:
nan

In [ ]:
nan