In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Telco Customer- Customer Lifetime Value

Customer Lifetime Value :It is the monetary value that a customer will bring to this company during her/his relationship-communication with a company.

![](https://unscrambl.com/wp-content/uploads/2021/02/Capture3-1536x953.png)

In [ ]:
#importing libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [ ]:
#Loading the Data Set
df =pd.read_csv('/kaggle/input/telco-customer-churn/WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [ ]:
df.head()

# General information about the dataset

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
#Sum of missing observations in the data set
df.isnull().sum()

In [ ]:
#Descriptive statistics of the dataset
df.describe().T

In [ ]:
#type change
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')

In [ ]:
#Giving new values to the "Contract" variable

df["Contract"].replace("Month-to-month",1,inplace=True)
df["Contract"].replace("One year",12,inplace=True)
df["Contract"].replace("Two year",24,inplace=True)
df["Contract"] = df["Contract"].astype(int)

I thought that when we multiply the monthly amount collected from the customer and the contract period of the customer, we can find the total amount to be paid.I created a new variable called “new_totalcharges”.When I compared this new variable with the “TotalCharges” variable, I saw that the two were different.

In [ ]:
df["new_totalcharges"]=df["MonthlyCharges"]*df["Contract"]
df[["new_totalcharges","TotalCharges"]].head()

In [ ]:
#Number of transactions
df["Transection"]=df["TotalCharges"]/df["MonthlyCharges"]
df['Transection']=round( df['Transection'],0)

# Customer Lifetime Value calculation

In [ ]:

#Customer Lifetime Value calculation

def cltv_c(dataframe, profit=0.10):

    cltv_c = dataframe.groupby('customerID').agg({'Contract': lambda x: x.sum(),
                                                   'Transection': lambda x: x.sum(),
                                                   'TotalCharges': lambda x: x.sum()})

    cltv_c.columns = ['total_transaction', 'total_unit', 'total_price']

    # Avg_order_value
    cltv_c['avg_order_value'] = cltv_c['total_price'] / cltv_c['total_transaction']

    # Purchase_Frequency
    cltv_c["purchase_frequency"] = cltv_c['total_transaction'] / cltv_c.shape[0]

    # Repeat rate & Churn rate
    repeat_rate = cltv_c[cltv_c.total_transaction > 1].shape[0] / cltv_c.shape[0]
    churn_rate = 1 - repeat_rate

    # Profit_margin
    cltv_c['profit_margin'] = cltv_c['total_price'] * profit

    # Customer Value
    cltv_c['customer_value'] = (cltv_c['avg_order_value'] * cltv_c["purchase_frequency"])

    # Customer Lifetime Value
    cltv_c['cltv'] = (cltv_c['customer_value'] / churn_rate) * cltv_c['profit_margin']

    scaler = MinMaxScaler(feature_range=(0, 1))
    scaler.fit(cltv_c[["cltv"]])
    cltv_c["scaled_cltv"] = scaler.transform(cltv_c[["cltv"]])

    # Segment
    cltv_c["segment"] = pd.qcut(cltv_c["scaled_cltv"], 4, labels=["D", "C", "B", "A"])

    return cltv_c

final_df = cltv_c(df)

In [ ]:
final_df.reset_index().head()

In [ ]:
#averages of scaled_cltv in segment breakdown
final_df.groupby("segment").agg({"scaled_cltv": "mean"})

In [ ]:
#Number of customers in group A segment
final_df[final_df["segment"]=="A"].shape

In [ ]:
#Number of customers in group D segment
final_df[final_df["segment"]=="D"].shape

In [ ]:
#number of customers with churn in the dataset
df[df["Churn"]=="Yes"].shape

Churn refers to the number of customers that the business lost in a period.

# Conclusion


We divided our customers into segments by making a sorting according to the CLTV values ​​to be calculated for each customer and by dividing at certain points according to the CLTV values ​​and creating groups.

Customers in segment A have the highest returns.

Purpose: to find its value in the company by comparing the behavior of all customers in our company and considering the buying habits of a single customer.

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan

In [ ]:
nan