In [ ]:
import pandas as pd
import numpy as np

# Data Exploration

In [ ]:
data=pd.read_csv("../input/salary-dataset/Salary.csv")

In [ ]:
data.head()

In [ ]:
data.columns

In [ ]:
data.describe()

In [ ]:
data.isnull()

In [ ]:
data.isnull().any()

In [ ]:
data.isnull().sum()

# Data Visualization

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!pip install dataprep
from dataprep.eda import plot, plot_correlation, create_report, plot_missing
plot(data)

In [ ]:
plt.plot(data['Salary'],data['YearsExperience'])

## displot

In [ ]:
sns.displot(data, x="YearsExperience")

In [ ]:
sns.displot(data, x="Salary")

In [ ]:
sns.displot(data, x="Salary", hue="YearsExperience")

## pairplot

In [ ]:
sns.pairplot(data)

## regplot

In [ ]:
sns.regplot(x="Salary", y="YearsExperience", data=data);

## lmplot

In [ ]:
sns.lmplot(x="Salary", y="YearsExperience", data=data);

In [ ]:
data

# Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
x = data.drop('Salary',axis = 1)

In [ ]:
x

In [ ]:
y=data['Salary']

In [ ]:
y.head()

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state = 42)

#  Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression 

L=LinearRegression()

In [ ]:
L.fit(xtrain,ytrain)

In [ ]:
y_pred=L.predict(xtest)

In [ ]:
print(L.score(xtest, ytest))