In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
cp = sns.color_palette()
# cp
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [ ]:
data = pd.read_csv('/kaggle/input/indian-startups-top-300/Startups1.csv')
data.head()

In [ ]:
data['No. of Employees'].head()

In [ ]:
data.columns

In [ ]:
def preprocess_inputs(df):
    df = df.copy()
    df = df.drop('Unnamed: 0', axis = 1)
    
    
    return df

In [ ]:
X = preprocess_inputs(data)
X.head()

In [ ]:
X.groupby('City')['No. of Investors'].sum().plot(kind = 'bar');

In [ ]:
X.info()

In [ ]:
X['No. of Employees'] = X['No. of Employees'].str.replace('+', '')
X['No. of Employees'] = X['No. of Employees'].str.replace('Not Available', '0')
# [Not Available]
X['No. of Employees'] = X['No. of Employees'].apply(lambda x: x.split('-'))
X.head()

In [ ]:
import numpy as np
# X['No. of Employees'] = X['No. of Employees'].apply(np.mean)

In [ ]:
X.groupby('City')['Funding Amount in $'].sum().plot(kind = 'bar');

In [ ]:
# X['No. of Employees'].str.replace('+', '')

In [ ]:
# mean_of_list = lambda row: pd.Series(sum(row) / len(row))
# X['No. of Employees'] = X['No. of Employees'].apply(lambda x: )
X['No. of Employees'].head(4)

In [ ]:
def list_mean(lst):
    return sum(int(x) for x in lst) / len(lst)

# Apply the function to the column and create a new column with the result
X['No. of Employees']  = X['No. of Employees'].apply(list_mean)
X.head()

In [ ]:
# temp = df.groupby('Starting Year')['Company'].count().reset_index()

In [ ]:
plt.figure(figsize = (10, 3))
ax = X.groupby('Starting Year')['Company'].count().plot(kind = 'bar', title = 'Number of companies starting year-wise', color = cp[1:])
plt.xticks(rotation = 45)
labels = (X.groupby('Starting Year')['Company'].count()).values
ax.bar_label(ax.containers[0], labels = labels, label_type = "edge")
plt.show()

In [ ]:
X.groupby('Starting Year').sum().head()

In [ ]:
# X.groupby('Starting Year')['Funding Amount in $'].sum().plot(kind = 'bar')


plt.figure(figsize = (10, 3))
ax = X.groupby('Starting Year')['Funding Amount in $'].sum().plot(kind = 'bar', title = 'Funding amount year wise', color = cp[1:])
plt.xticks(rotation = 45)
labels = (X.groupby('Starting Year')['Funding Amount in $'].sum()).values
# ax.bar_label(ax.containers[0], labels = labels, label_type = "edge")
plt.show()

In [ ]:
nan