In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
df=pd.read_csv("/kaggle/input/iit-admissions-dataset/student_data.csv")

In [ ]:
# to cheak top 5 columns

df.head()

In [ ]:
# to cheak last 5 columns

df.tail()

In [ ]:
# to cheak the shape of the dataset

df.shape

In [ ]:
# cheak datatype null values columns name

df.info()

In [ ]:
# to perform statical operation

df.describe()

In [ ]:
# to cheak the null value

df.isnull().sum()

In [ ]:
# to count the value of any spacific columns
df['Year of Admission'].value_counts()

In [ ]:
df.head(2)

In [ ]:
# to change the columns name

df.rename(columns={'Fees':'Annual_Fess'},inplace=True)

In [ ]:
df

In [ ]:
# drop any columns from dataset

df.drop('Student Name',axis=1,inplace=True)

In [ ]:
df.head(2)

In [ ]:
# to cheak the duplicate value

duplicate=df.duplicated()

In [ ]:
duplicate

In [ ]:
# create a new column

df['Present']='present'

In [ ]:
df.head(2)

In [ ]:
# change type object to to_datetime

df['Date of Birth']=pd.to_datetime(df['Date of Birth'])

In [ ]:
df.info()

**VISUALIZATION**

In [ ]:
df.head()

In [ ]:
nan