# PENGENALAN AWAL TENTANG DATA SCIENTIST

Pengenalan ini akan dimulai dari pembentukan Series dan dilanjutkan pada Data Frame

# Import library pandas dan numpy

In [ ]:
import pandas as pd
import numpy as np
from pandas import DataFrame

# Series

Series digunakan untuk membuat sebuah tabel yang hanya memiliki satu buah kolom

In [ ]:
pd.Series(np.random.rand(5), index=['Rista','Fajar','Dika','Edka','Faris'])

# Bedah Code

1. code dibawah ini digunakan untuk memanggil pandas dan mendeklarasikan Series 
> pd.Series()

2. memanggil angka secara acak(random) menggunakan numpy, gunakan code berikut :
> pd.Series(np.random.rand(5))

    mengindikasikan index data
3. penggunaan index disini akan merubah index yang semulanya adalah angka menjadi index kustom, yaitu ['Rista', 'Fajar', 'Dika', 'Edka', 'Faris'], gunakan code berikut :
> pd.Series(np.random.rand(5), index=['Rista', 'Fajar', 'Dika', 'Edka', 'Faris'])

In [ ]:
a = pd.Series([1, 2, 3]).array
b = pd.Series([2, 3, 4]).array
print (a,b)

**BEDAH CODE**
1. a dan b adalah parameter yang akan diisi dengan data yang akan dibuat series
> a = ....
> b = ....
2.

# DATA FRAME
DataFrame digunakan untuk mempermudahkan dalam membaca sebuah file dan menjadikannya table, kita juga dapat mengolah suatu data dengan menggunakan operasi seperti join, distinct, group by, agregasi, dan teknik lainnya yang terdapat pada SQL.

In [ ]:
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000]
        }

df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

max1 = df['Price'].max()
print (max1,df)

cars = pd.read_excel(r'C:\Users\Ron\Desktop\Cars.xlsx')
df = pd.DataFrame(cars, columns = ['Brand', 'Price'])

ini digunakan untuk mengambil data dari excel, data frame digunakan untuk membuat sebuah tabel gitu deh.

pip install xlrd
ini digunakan untuk membuat dataframe dengan csv

df = pd.read_csv (r'Path where the CSV file is stored\File name.csv')
untuk melihat isi dari csv


--------------------------------------------
import tkinter as tk
from tkinter import filedialog
import pandas as pd

root= tk.Tk()

canvas1 = tk.Canvas(root, width = 300, height = 300, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def getCSV ():
    global df
    
    import_file_path = filedialog.askopenfilename()
    df = pd.read_csv (import_file_path)
    print (df)
    
browseButton_CSV = tk.Button(text="      Import CSV File     ", command=getCSV, bg='green', fg='white', font=('helvetica', 12, 'bold'))
canvas1.create_window(150, 150, window=browseButton_CSV)

root.mainloop()

ini digunakan untuk GUI nya

In [ ]:
numbers = {'set_of_numbers': [1,2,3,4,5,6,7,8,9,10,np.nan,np.nan]}
df = DataFrame(numbers,columns=['set_of_numbers'])
print (df)

karena 0 atau tidak ada nilainua akan di tulis NaN makanya hasilnya seperti itu

In [ ]:
df.loc[df['set_of_numbers'].isnull(), 'set_of_numbers'] = 0
print (df)

ini digunakan untuk menghilangkan NaN atau menjadi 0 atau bisa dikatakan diganti

Cara menghitung biseksi atau Metode Bagi Dua
contoh soal adalahf (x) = 16x^3 − 22x + 9 dengan selang tebakan awal [-2,-1] atau a = -2 dan b = -1 hingga galatnya lebih kecil dari 10^−4 (0,001) atau maksimal 8 iterasi

# Akar Persamaan Non Linear

In [ ]:
def f(x):
    return (16*(x**3))-(22*x)+9
a = np.zeros(40)
b = np.zeros(40)
c = np.zeros(40)

a[0] = 0.7
b[0] = 1

c[0] = (a[0]+b[0])/2

# Bedah Code
1. 
2. zero dan once digunakan ketika ingin menginisialisasi bobot selama iterasi yang pertama di TensorFlow dan tugas statistik lainnya.
> a = np.zeros(40)
Rumus
> numpy.zeros(shape, dtype=float, order='C')
 * Shape adalah bentuk array yang digunakan
 * dtype adalah data type isinya opsional dan value defaultnya adalah float64
 *

mendefinisikan a,b,c sebagai array kosong dengan menulis np.zeros dengan ukuran yang saya pakai adalah 40
lalu a[0] dan b[0] ini adalah nilai awal, lalu rumusnya c atau m yaitu a+b/2 .

In [ ]:
for n in range(39):
    if f(a[n])*f(c[n])<0:
        a[n+1]=a[n]
        b[n+1]=c[n]
    else:
        a[n+1]=c[n]
        b[n+1]=b[n]
    c[n+1]=(a[n+1]+b[n+1])/2
    print(c[n+1],f(c[n+1]))

di for ini saya membuat 40 anggota lalu jika fa x fc = - maka fa = c yang dimana kalau + maka fb = c. hasilnya kita dapat yang mendekati 0 adalah -0.00029338744355555946 atau line 16 errornya, ini adalah nilai yang kita bisa ketahui awal error

In [ ]:
c[-1]

Untuk mengecek nilai akhir

In [ ]:
f(c[-1])

karena dilihat adalah -12 atau 10^-12 atau ada sebanyak 12 nolnya didepan.

In [ ]:
nan