# The below shows some basic munging and pre-processing using both Numpy and Pandas on a data set called video store.
In many cases I did the task in Pandas. 
Also some work in Matplotlib

In [ ]:
#import packages.
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# get current directory

In [ ]:
pwd

In [ ]:
ls

# change working directory if needed -- not usually needed on cloud services

In [ ]:
cd ../working # changes working directory to the child of the parent of the current working directory

In [ ]:
cd /kaggle/working

## Importing and printing a Pandas array is like a R Dataframe.

In [ ]:
#Import Using Pandas
video_pandas=pd.read_csv("../input/Video_Store.csv")
video_pandas

# Pandas works with this basic structure df.var.function()

In [ ]:
#similar to names(video_pandas) in R
video_pandas.columns

In [ ]:
#similar to dim(video_pandas) in R
video_pandas.shape

In [ ]:
#show variables by type something like apply(video_pandas, 2, class) in R
video_pandas.dtypes

In [ ]:
#Descriptives on Income
print(video_pandas.Income.min()),
print(video_pandas.Income.max()),
print(video_pandas.Income.std()),
print(video_pandas.Income.mean())

In [ ]:
#Descriptives on Age using Pandas
print(video_pandas.Age.min(),video_pandas.Age.max(),video_pandas.Age.std(),video_pandas.Age.mean())

In [ ]:
#Descriptives on Rentals. Similar to Summary in R
video_pandas.Rentals.describe()

In [ ]:
#descptives via Pandas
video_pandas.mean()

In [ ]:
#using pandas, count by category on a categorical variable.
video_pandas.groupby('Genre').size()

# get cross-tab of genre by other variables
video_pandas.groupby('Genre').mean()

In [ ]:
#Using Pandas Query function. Custumers with incomes greater than $30K
video_sub=video_pandas.query('Income > 30000') 
video_sub

In [ ]:
# using pandas, count by category for a categorical variable.
video_sub.groupby('Gender').size()

In [ ]:
# Desciptives of customers with incomes greater than $30K
video_sub.mean()

In [ ]:
video_sub.Genre.value_counts()

In [ ]:
#using pandas, count by category for a categorical variable.
video_sub.groupby('Genre').size()

In [ ]:
#shorten the df
vp=video_pandas

In [ ]:
#Transform to Z-Scores
#This is the manual way with formulas. Will show a function later.
Age_Z=pd.DataFrame((vp.Age-vp.Age.mean())/vp.Age.std())
Income_Z=pd.DataFrame((vp.Income-vp.Income.mean())/vp.Income.std())
Rentals_Z=pd.DataFrame((vp.Rentals-vp.Rentals.mean())/vp.Rentals.std())
#Showing how you use a variable that has spaces.
Avg_Per_Visit_Z=pd.DataFrame((vp['Avg Per Visit']-vp['Avg Per Visit'].mean())/vp['Avg Per Visit'].std())
Avg_Per_Visit_Z=pd.DataFrame((vp['Avg Per Visit']-vp['Avg Per Visit'].mean())/vp['Avg Per Visit'].std())
Age_Z.head(10)

In [ ]:
Income_Z.head()

In [ ]:
# Dummies via Pandas
Genre_dummy=pd.DataFrame(pd.get_dummies(vp['Genre']))
Genre_dummy

# My Histogram

In [ ]:
#histogram of Income using 9 bins
n, bins, patches = plt.hist(vp.Income, 9, facecolor='green', alpha=0.75)
plt.ylim(0, 10)
plt.title('histogram of Income using 9 bins')
plt.xlabel("Income")
plt.ylabel("Frequency")
plt.show()

# histogram of Age using 7 bins

In [ ]:

n, bins, patches = plt.hist(vp.Age, 7, facecolor='blue', alpha=0.75)
plt.ylim(0, 15)
plt.xlabel("Age")
plt.ylabel("Frequency")
plt.title('Histogram of Age using 7 bins')
plt.show()

In [ ]:
plt.scatter(vp.Income,vp.Age)
plt.title('Scatter of Income and Age')
plt.xlabel("Income")
plt.ylabel("Age")
plt.xlim(0, 100000)
plt.show()

In [ ]:
#Crosstab using Pandas
video_cross=pd.crosstab(vp.Gender, vp.Genre,colnames=['Genre'],rownames=['Gender'])
print(video_cross)

In [ ]:
#Bar plot of Genre by Gender
video_cross.plot(kind='bar', stacked=True)
plt.title('Movie Genre by Gender')