## NAME : JAYNIL GAGLANI
## ROLL NO : 13
## BATCH : A
## DATA WAREHOUSING AND MINING
## EXPERIMENT NO 7

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier

In [ ]:
df = pd.read_csv("../input/weather-dataset-rattle-package/weatherAUS.csv")
df.head()

## Data Cleaning

### Handling Missing Values in Categorical Columns

In [ ]:
categorical = [var for var in df.columns if df[var].dtype=='O']
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are :', categorical)

In [ ]:
cat1 = [var for var in categorical if df[var].isnull().sum()!=0]
print(df[cat1].isnull().sum())

In [ ]:
for var in categorical:
    print(var + ' conatins '+str(len(df[var].unique()))+ " labels ")

### Splitting the Date column into respective 'Year','Month' & 'Day'.**

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

df.drop('Date',axis=1,inplace=True)

In [ ]:
categorical = [var for var in df.columns if df[var].dtype=='O']
print("There are {} categorical variables : ".format(len(categorical)))
print(categorical)

### Replacing the missing categorical values by the most frequent value in respective columns.

In [ ]:
for var in categorical:
    df[var].fillna(df[var].mode()[0],inplace=True)

In [ ]:
numerical = [var for var in df.columns if df[var].dtype!='O']
print(numerical)

In [ ]:
num1 = df[numerical].isnull().sum()
num1 = num1[num1!=0]
num1

### Replacing the missing numercial values by the mean of their respective columns.

In [ ]:
for col in num1.index:
    col_mean = df[col].mean()
    df[col].fillna(col_mean,inplace=True)

In [ ]:
le = LabelEncoder()
new_df = df
for col in categorical:
    new_df[col] = le.fit_transform(df[col])
col_names = new_df.columns

In [ ]:
new_df.head()

## Feature Scaling using MinMaxScaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ss = MinMaxScaler()
new_df = ss.fit_transform(new_df)
new_df = pd.DataFrame(new_df,columns = col_names )

In [ ]:
new_df.describe()

In [ ]:
# new_df.to_csv("weatherCleaned.csv")

## Data Visualization

### Heatmap of correlation among the columns of data.

In [ ]:
correlation = new_df.corr()
plt.figure(figsize=(16,12))
plt.title('Correlation Heatmap of Rain in Australia Dataset')
ax = sns.heatmap(correlation, square=True, annot=True, fmt='.2f', linecolor='white',cmap='viridis')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
ax.set_yticklabels(ax.get_yticklabels(), rotation=30)           
plt.show()

In [ ]:
y = new_df.RainTomorrow
X = new_df.drop('RainTomorrow',axis=1)
x = df[['Humidity3pm','RISK_MM']]

## Applying various clustering algorithms on the training set.Â¶
> ## 1. K-Means Clustering

In [ ]:
from sklearn.cluster import KMeans
from sklearn import metrics

### Fittng the data to KMeans Clustering and calculating CH score

In [ ]:
kmeans = KMeans(n_clusters=2, random_state=100)
kmeans.fit(x)
labels_1 = kmeans.labels_
np.unique(kmeans.labels_)
print(kmeans.cluster_centers_)
metrics.calinski_harabasz_score(X, labels_1)

### Choosing only the high variance columns for data visualization of clustering for n_clusters = 2

In [ ]:
plt.scatter(x.iloc[:,0],x.iloc[:,1], c=kmeans.labels_,cmap='rainbow')
plt.scatter(kmeans.cluster_centers_[:,0] ,kmeans.cluster_centers_[:,1], color='black')
plt.xlabel('Humidity3pm')
plt.ylabel("RISK_MM")
plt.title("n_clusters = 2")

### Determining the Elbow Point for accurate value of K

In [ ]:
sum_of_squared_distances = []
K = range(1,15,2)
for k in K:
    k_means = KMeans(n_clusters=k)
    model = k_means.fit(X)
    sum_of_squared_distances.append(k_means.inertia_)

In [ ]:
plt.plot(K, sum_of_squared_distances, 'bx-')
plt.xlabel('k')
plt.ylabel('sum_of_squared_distances')
plt.title('elbow method for optimal k')
plt.show()

## Observations KMeans
> ## The Elbow Method is one of the most popular methods to determine this optimal value of k.
> ## From the above plot it is clear that for n_clusters = 2 we get the elbow point which means that k = 2 is ideal for clustering

## Conclusion
> ## Hence , KMeans clustering algorithm was applied to WeatherAUS dataset.
> ## 2 clusters were optimal for the given dataset and Elbow methos was employed to get the optimal K value.

In [ ]:
pip install scikit-learn-extra

In [ ]:
nan